/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}



#reservationForm,.confirmation, .truck {
  &.main-form {
    input[type="checkbox"]{
      width: 13px;
      height: 13px;
      padding: 0 10px 0 0;
      margin: 0;
      vertical-align: bottom;
      position: relative;
      top: -4px;
      margin-right: 10px;
    }
    label {
      color:$primary;
    }
    textarea {
      min-height:200px;
    }
    .col-xs-12 {
      margin-bottom: 1em;
    }
  }
}


.main-form label {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 1em;
  cursor: pointer;
  font-family: $heading;
  color:white;
  font-size: 16px;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 14px;
  padding:0 10px;
  height:50px;
  color: $primary;
  display: block;
  width: 100%;
  background: #f7f7f7;
}

.main-form input,
.main-form textarea {
  border: 0px;
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
  margin:.5em 0;
  display: inline-block;
}



.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;

}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 12px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 12px;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input[type="submit"]{
  @extend .button;
  width:auto;
  @include transition(.3s all);
  &:hover {
    color:white;
    background: $secondary;
  }

}

.main-form input.cbp-mc-submit:hover {
  background: $secondary;
}

#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}