

$color-screen: $secondary;
$color-background: darken($color-screen, 10%);
$color-main: $secondary;
$color-active: #fff;

$screen-height: 560px;
$screen-width: 320px;
$button-height: 22px;
$button-width: 30px;
$navbar-height: 60px;
$item-height: ($screen-height - $navbar-height) / 5;


.hiddenNav {
      z-index: 100000;
    position: absolute;
    top: 20px;
    right: 10%;
}

html.open {
  height:100%;
  overflow:hidden;
  .hiddenNav {
    i {
      color:white;
      &:before {
            content: "\f00d";
}
      }
    }
  }

.mobileButton {
  float:right;
  text-align: right;
  i {
    color:$secondary;
    font-size: 18px;
  }
}

.navOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  background: $color-main;
  border-radius: 5px;
  transition: opacity .35s ease, visibility .35s ease, width .35s ease;
  visibility: hidden;
  z-index: 10000;
  
  &.open {
    opacity: .8;
    visibility: visible;
    width: 100%;
    
    li {
      animation: menuFade .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .5s;
      }
    }
  }
  nav {
    position: relative;
    height: 80%;
    top: 50%;
    transform: translateY(-40%);
    font-size: 34px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    text-align: center;
  }
   ul {
     list-style: none;
     padding: 0;
     margin: 0 auto;
     display: inline-block;
     position: relative;
     height: 100%; 
     
     li {
      text-transform: uppercase;
      font-family: $heading;
      display: block;
      height: 10%;
      height: calc(100% / 10);
      min-height: 34px;
      position: relative;
      opacity: 0;
       
       a {
         display: block;
         position: relative;
         color: $color-active;
         text-decoration: none;
         overflow: hidden;
        
         &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
         &:after {
           content: '';
           position: absolute;
           bottom: 0;
           left: 50%;
           width: 0%;
           transform: translateX(-50%);
           height: 3px;
           background: $color-active;
           transition: .35s;
         }
       }
     }
   }
}

@keyframes menuFade {
  0% {
    opacity: 0;
    left: -25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}