

/* -------------------------------- 

Pricing tables 

-------------------------------- */
.cd-pricing {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
}
.cd-pricing > li {
  position: relative;
  margin: 0 auto 2.5em;
  background-color: #ffffff;
  border-radius: .3em .3em .25em .25em;
  box-shadow: 0 2px 8px rgba(2, 4, 5, 0.5);
  @include transition(.3s all);
  &:first-child {
      .cd-pricing-header {
        background: $proandgo;
      }
    }
    &:nth-child(2) {
      .cd-pricing-header {
        background: $proplus;
      }
    }
    &:nth-child(3) {
      .cd-pricing-header {
        background: $proelite;
      }
    }
}
.cd-pricing > li.empty-box {
  box-shadow: none;
}
.cd-pricing > li.empty-box::after {
  /* placeholder visible when .cd-form is open - in this case same color of the background */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f222b;
}
@media only screen and (min-width: 768px) {
  .cd-pricing {
    max-width: 1000px;
  }
  .cd-pricing > li {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0;
    
  }
  .cd-pricing > li:last-of-type {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-pricing > li {
    width: 30.0%;
    float: left;
    margin-right: -1%;
    background: whitesmoke;
    &:hover {
      background:white;
    }
    &:nth-child(2){
      width:40%;
      margin-top:-7%;
      z-index: 40;
      background:white;
      li {
        font-size: 14px;
        margin-bottom: 1em;

      }
      h2 {
        font-size: 35px;
      }
    }
  }

}

.cd-pricing-header {
  padding: 1.3em 1em;
  border-radius: .25em .25em 0 0;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.cd-pricing-header h2, .cd-pricing-header .cd-price {
  line-height: 1.2;
}
.cd-pricing-header h2 {
  font-size: 2rem;
  margin-bottom: 0.15em;
  color:white;
  font-weight:100;
  padding: 1em 1.25em 1.5em;

}
.cd-pricing-header .cd-price {
  p {
    color:white;
    margin: 0;
    span {
      font-size:110%;
    }
  }
      width: 100%;
    background: rgba(0, 0, 0, 0.09);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-weight: 100;
}
.cd-pricing-header .cd-price::after {
  clear: both;
  content: "";
  display: table;
}
.cd-pricing-header span {
  font-weight: 800;
}
.cd-pricing-header span:nth-of-type(2) {
  color: #c1cfa2;
}
.cd-pricing-header span:nth-of-type(2)::before {
  content: '/';
}
@media only screen and (min-width: 768px) {
  .cd-pricing-header h2 {
    font-size: 2.6rem;
  }
}

.cd-pricing-features {
  padding: 2.8em 1em 2.5em;
  text-align: left;
}
.cd-pricing-features li {
  line-height: 1.5;
  margin-bottom: .4em;
  font-size: 12px;
  color:$neutral;
  &.available {
    color:$green;
  }
}
.cd-pricing-features li:last-of-type {
  margin-bottom: 0;
}
.cd-pricing-features em {
  position: relative;
  padding-left: 10px;
  
}
.cd-pricing-features em::before {
  /* this is the icon (check or cross) next to the plan feature */
  font: normal normal normal 14px/1 FontAwesome;
      content: "\f00d";
      margin-right: 1em;

}
.cd-pricing-features .available em::before {
  content: "\f00c";
  }

.cd-pricing-footer {
  padding-bottom: 1.7em;
}
.cd-pricing-footer a {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.empty-box .cd-pricing-footer a {
  /* scale down to 0 the action button when sign up form is visible */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* -------------------------------- 

Form 

-------------------------------- */
.cd-form {
  position: fixed;
  z-index: 1002;
  background-color: #ffffff;
  border-radius: .25em;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.8s;
  -moz-transition: visibility 0s 0.8s;
  transition: visibility 0s 0.8s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background:#f2f2f2;
  .cd-pricing-header {
    margin-bottom: 2em;
  }
  &.first {
    .cd-pricing-header {
      background: $proandgo;
    }
  }
  &.second {
    .cd-pricing-header {
      background: $proplus;
    }
  }
  &.third {
    .cd-pricing-header {
      background: $proelite;
    }
  }
}
.cd-form::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}

.cd-form {
  .cd-pricing-features {
    li {
      font-size: 11px;
      line-height: 2;
    }
  }
  &.first {
    h3 {
      color:$proandgo
    }
    .button {
      background-color: $proandgo;
      &:hover {
        background-color:darken($proandgo,20);
      }
    }
  }
  &.second {
    h3 {
      color:$proplus
    }
    .button {
      background-color: $proplus;
      &:hover {
        background-color:darken($proplus,20);
      }
    }
  }
  &.third {
    h3 {
      color:$proelite
    }
    .button {
      background-color: $proelite;
      &:hover {
        background-color:darken($proelite,20);
      }
    }
  }
  hr {
    border-color:#CACACA;
  }
}

.cd-form .cd-plan-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1003;
  text-align: center;
}
.cd-form .cd-plan-info > * {
  width: 100%;
}
.cd-form .cd-pricing-features {
  position: relative;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  text-align: left;
  li {
    text-align: left;
  }
}
.cd-form .cd-pricing-features::before {
  /* this is the layer which covers the .cd-pricing-features when the form is open - visible only on desktop */
  content: '';
  position: absolute;
  /* fix a bug while animating - 1px white space visible */
  top: -5px;
  left: 0;
  height: calc(100% + 5px);
  width: 100%;
  will-change: transform;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: -webkit-transform 0.6s 0.2s;
  -moz-transition: -moz-transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s;
}
.cd-form .cd-pricing-footer {
  display: none;
}
.cd-form .cd-more-info {
  position: absolute;
  z-index: 1002;
  height: 100%;
  width: 210px;
  bottom: 0;
  left: 0;
  padding: 285px 1.8em 2em;
  background-color: #f2f2f2;
  border-radius: .25em 0 0 .25em;
  /* hidden on mobile */
  display: none;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.cd-form .cd-more-info h3 {
  line-height: 2;
}
.cd-form .cd-more-info p {
  font-size: 1.3rem;
  color: #999999;
  line-height: 1.6;
}
.cd-form form {
  padding-top: 90px;
  height: 100%;
  overflow: hidden;
  margin:0;
  background:white;
}
.cd-form form.is-scrollable {
  overflow-y: auto;
}
.cd-form fieldset, .form-content {
  p {
    font-size:16px
  }
  opacity: 0;
  margin: 1.5em 2em;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  @include viewport(sm){
    margin:2em 2.5em;
  }
}
.cd-form fieldset > div,
.cd-form fieldset .cd-credit-card > div {
  padding-top: 1.2em;
}
.cd-form fieldset > .cd-credit-card {
  padding-top: 0;
}
.cd-form fieldset div::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form fieldset:last-of-type > div {
  padding-top: 0;
}
.cd-form legend {
  width: 100%;
  font-size: 2.3rem;
  line-height: 1.2;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #e5e5e5;
}
.cd-form input[type="radio"],
.cd-form label {
  cursor: pointer;
}
.cd-form .main-form label {
  color: #b2b2b2;
}
.cd-form input[type="radio"] + label {
  color: #0f222b;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 45px;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  background: transparent;
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="password"]:focus,
.cd-form select:focus {
  outline: none;
  border-color: #95ac5f;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"] {
  width: 100%;
  display: block;
  margin-top: 6px;
  padding: 0 16px;
}
.cd-form select {
  padding: 0 25px 0 15px;
  font-size: 1.4rem;
}
.cd-form select::-ms-expand {
  /* remove default arrows in IE */
  display: none;
}
.cd-form .cd-credit-card b {
  display: block;
}
.cd-form .cd-credit-card p {
  padding-bottom: 0.5em;
}
.cd-form .cd-credit-card p:last-of-type {
  width: 100px;
}
.cd-form .cd-select {
  display: inline-block;
  position: relative;
  margin-top: 6px;
}
.cd-form .cd-select::after {
  /* arrow icons */
  content: '';
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  height: 6px;
  width: 10px;
  background: url(/resources/img/cd-icon-arrow.svg) no-repeat center center;
  pointer-events: none;
}
.cd-form .cd-close {
  /* 'X' close icon */
  position: absolute;
  z-index: 1001;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: url(/resources/img/cd-icon-close.svg) no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-form.is-visible {
  /* form is visible */
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-form.is-visible .cd-pricing-features {
  /* desktop only */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.6s 0s, visibility 0s 0.8s;
  -moz-transition: opacity 0.6s 0s, visibility 0s 0.8s;
  transition: opacity 0.6s 0s, visibility 0s 0.8s;
}
.cd-form.is-visible form {
  -webkit-overflow-scrolling: touch;
}
.cd-form.is-visible {
fieldset,.form-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s 0.6s, opacity 0.3s 0.6s;
  -moz-transition: -moz-transform 0.3s 0.6s, opacity 0.3s 0.6s;
  transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
}
}
.cd-form.is-visible fieldset:nth-of-type(2) {
  /* delay second fieldset animation */
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-form.is-visible fieldset:nth-of-type(3) {
  /* delay second fieldset animation */
  -webkit-transition: -webkit-transform 0.3s 0.8s, opacity 0.3s 0.8s;
  -moz-transition: -moz-transform 0.3s 0.8s, opacity 0.3s 0.8s;
  transition: transform 0.3s 0.8s, opacity 0.3s 0.8s;
}
.cd-form.is-visible .cd-close {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.8s;
  -moz-transition: -moz-transform 0.3s 0.8s;
  transition: transform 0.3s 0.8s;
}
@media only screen and (min-width: 768px) {
  .cd-form::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-form .cd-pricing-header {
    border-radius: .25em 0 0 0;
  }
  .cd-form .cd-pricing-features {
    -webkit-transition: padding 0.3s 0.2s;
    -moz-transition: padding 0.3s 0.2s;
    transition: padding 0.3s 0.2s;
  }
  .cd-form .cd-more-info {
    display: block;
    opacity: 0;
  }
  .cd-form form {
    margin: 0 0 0 210px;
    padding-top:2em;
  }
  .cd-form .half-width {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .cd-form .half-width:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-form input[type="submit"] {
    float: right;
  }
  .cd-form .cd-close {
    /* move close icon outside the form container */
    top: -40px;
    right: -5px;
  }
  .cd-form.is-visible .cd-pricing-features {
    padding-top: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .cd-form.is-visible .cd-pricing-features::before {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: -webkit-transform 0.4s 0s;
    -moz-transition: -moz-transform 0.4s 0s;
    transition: transform 0.4s 0s;
  }
  .cd-form.is-visible .cd-more-info {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-form .cd-credit-card p:nth-of-type(2) {
    width: 25%;
    margin-right: 4%;
  }
  .no-csstransitions .cd-form .cd-credit-card p:nth-of-type(2) {
    width: 48%;
    margin-right: 0;
  }
  .cd-form .cd-credit-card p:nth-of-type(3) {
    width: 19%;
    margin-right: 0;
  }
}

/* -------------------------------- 

Buttons 

-------------------------------- */
.cd-pricing-footer a, .cd-form input[type="submit"] {
  @extend .button;
  border:0;
  @include transition(.3s all);
  
}


/* -------------------------------- 

Shadow layer 

-------------------------------- */
.cd-overlay {
  /* shadow layer visible when navigation is open */
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(15, 34, 43, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
  -moz-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
  transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
}
.cd-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.8s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.8s 0s, visibility 0s 0s;
  transition: opacity 0.8s 0s, visibility 0s 0s;
}
