* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

body {
  background: transparent;
  position: relative;
}

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}

/* MAIN */

section {
  padding: 2em;
  @include viewport(md) {
    padding: 4.5em 0;
  }

}

.map {
  padding: 0;
}

#map {
  height: 300px;
  @include viewport(sm) {
    height: 400px;
  }
}

.section {
  width: 50%;
  float: left;
  height: 100vh;
  padding: 10em 0;
  text-align: center;
}

html, body, .section {
  height: 100%;
}

body, .section {
  margin: 0;
  display: table
}

.section > div {
  display: table-cell;
  text-align: center; /* horizontal */
  vertical-align: middle; /* vertical */
}

.center-block {
  float:none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  box-shadow:0 0 20px rgba(black,.4);
}

.modal-dialog {
  width: 90%;
  @include viewport(sm){
    width:80%;
  }
}

.close {
  color: white;
  text-shadow: none;
  margin: 1em;
  @include opacity(1);
  @include transition(.3s all);
  &:hover {
    color: $secondary;
  }
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.success {
  text-align: center;
  * {
    color: white;
  }
  p {
    margin-top: 0;
  }

}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home .content > div {
  max-width: 60%;
  margin: auto;
}

.right {
  i {
    font-size: 55px;
    color: #da2a32;
    @include transition(.3s all);
    cursor: pointer;
    &:hover {
      color: lighten(#da2a32, 20%);
    }
  }
}

.wrap {
  max-width: 940px;
  margin: auto;
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8em 0;
}

.button-row {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.button {
  cursor: pointer;
  color: white;
  background: $secondary;
  padding: 1em 3em;
  display: inline-block;
  margin: 1em 0;
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 3px;
  border:0;
  outline:0;
  &:hover, &.active, &:active, &:focus {
    background: darken($secondary, 10);
    color: white;
    text-decoration: none;
  }
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
  &:visited {
    color: white;
  }
}

.tab-pane {
  .button {
    text-align: center;
    margin: 3em 0 0;
    box-shadow: 0 0px 5px rgba(black, .4);
  }
}

.hero-controls {
  overflow: hidden;
  margin-top: -5px;
  padding: 0;
  position: relative;
  .controls {
    position: absolute;
    width: 100%;
    text-align: center;
    .button {
      color: $primary;
      background: white;
      box-shadow: 0 0 5px rgba(black, .8);
      position: relative;
      z-index: 1;
      &.active {
        color: white;
        background-color: $secondary;
        z-index: 2;
      }
      margin-top: 0;
      &:last-child {
        margin-left: -5px;
      }
    }
  }
}

.listings {
  .house-cards {
    li {
      .property {
        padding:15px 0;
      }
    }
  }
}

.hero-content {
  .flex-control-nav {
    bottom: -46px;
    margin: 0;
    padding: 1em 0;;
  }
  text-align: center;
  h1 {
    color: white;
    margin: 0 0 1em;
  }
}

.house-cards {
  margin: 0;
  @include viewport(sm) {
    margin-left: -15px;
    margin-right: -15px;
    .property {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .property {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    .card {
      background: white;
      box-shadow: 0 0 10px rgba(black, .4);
      text-align: left;
      border-radius: 3px;
      overflow: hidden;
      * {

      }
      &:hover {
        .meta {
          background: $secondary;
          p, li, h2, span {
            color: white;
            &:after {
              color: white;
            }
          }

        }
      }
    }
    .img-contain {
      position: relative;
      &:hover {
        .overlay {
          @include opacity(.2);
        }
      }
      .overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba($secondary,.7);
        display:none;
        text-align: center;
        @include transition(.5s all);

      }
      &.pending {
        .overlay {
          &:after {
            content:"Sale Pending";
          }
        }
      }
      &.sold {
        .overlay {
          &:after {
            content:"Sold";
          }
        }
      }
      &.pending,&.sold{
        .overlay {
          display: block;
          &:after {
            color:white;
            text-transform: uppercase;
            text-align: center;
            font-size: 35px;
            position: relative;
            top:40%;
            font-family: $heading;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .meta {
      padding: 1em;
      background: white;
      @include transition(.3s all);
    }
    h2 {
      color: $primary;
      font-size: 10px;
      margin-bottom: 5px;
      span {
        text-transform: none;
        font-size: 10px;
        margin-left: 2em;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      font-size: 12px;
      li {
        display: inline;
        font-size: 12px;
        margin-right: 5px;
        color: $neutral;
        &:last-child {
          margin-right: 0;
          &:after {
            content: none;
          }
        }
        &:after {
          content: "|";
          margin-left: 5px;
          display: inline-block;
          color: #c7c7c7;

        }
      }
    }
  }
}

.related {
  background-color: $light;
}

.listings {
  .content {
    background-color: $light;
    .price {
      float: right;
      color: $proplus;
      &.price-reduced {
        color: $green;
      }
      &.Sold {
        color:$secondary;
      }
      &.pending {
        color:$secondary;
      }
    }

    h2 {
      float: left;
      display: inline-block;
    }
  }
}

.testimonials {
  .flex-direction-nav {
    top:25%;
    @include viewport(sm) {
    top:45%;
  }
    &:before {
      font-size: 20px;
      @include viewport(sm) {
      font-size: 60px;
  }
    }
  }

  a {
    display: block;
    margin: auto;
    text-align: center;
  }
  .flexslider {
    background: none;
  }
  @include vertical-gradient(#fff, #f6f6f6);

  .img-contain {
    display: block;
    margin: auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 225px;
    height: 225px;
  }
  .col-sm-8 {
    position: relative;
    .testimonial-content {
      padding: 1em 1em 1em 4em;
      .readMore {
        display: inline;
        margin-left:1em;
      }
      &:before {
        content: "“";
        font-size: 120px;
        color: rgba(99, 100, 102, 0.2);
        position: absolute;
        top: -30px;
        left: 10px;
        font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
      }
    }

    p {
      line-height: 1.8;
    }
    .byline {
      margin:1em 0;
      text-transform: uppercase;
      color: $secondary;
    }
  }
}

.home {
  .hero-content {
    h1 {
      text-shadow: 0 0 5px rgba(black, .4);

    }
  }
  hr {
    margin: 0;
  }
  section {
    padding: 3em 2em;
    &.hero-controls {
      padding: 0;
      .controls {
        .button {
          font-size: 12px;
          @include viewport(sm){
            font-size: 14px;
          }
          } 
      }
    }
    @include viewport(sm) {
      padding: 4em 2em;
      &.hero-controls {
        padding: 0;
      }
    }
    @include viewport(md) {
      padding: 10em 0;
      &.hero-controls {
        padding: 0;
      }
    }
  }
}

/* FOOTER */
.footer-lower {
  background: $secondary;
  padding: 1em 2em;
  @include viewport(sm) {
    padding: 1em 2em;
  }
  @include viewport(md) {
    padding: 1em 0;
  }
  p, li, a, ul {
    color: white;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  li {
    @include viewport(sm) {
      display: inline;
      margin-right: 1em;
      &:after {
        content: "|";
        margin-left: 1em;
        display: inline-block;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after {
          content: none;
        }
      }
    }
  }
}

footer {
  form {
    input[type="submit"] {
      padding: 0;
      margin: 0;
      background: none;
      color: white;
      text-align: left;
      @include transition(.3s all);
      width: auto;
      display: inline-block;
      &:hover {
        color: rgba(white, .5);
      }
    }
    .left input {
      margin-bottom: 1em;
      @include viewport(sm) {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    p {
      font-style: italic;
      font-size: 16px;
    }
  }
  padding: 2em;
  @include viewport(sm) {
    padding: 3em 2em;
  }
  @include viewport(md) {
    padding: 4em 0;
  }
  background: $secondary url(/resources/img/footer.jpg) center;
  background-position: center;
  background-size: cover;
  p, li, a {
    color: white;
  }

  h2.has-success, h2.has-error {
    color: #fff;
  }
}

.social {
  li {
    display: inline;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: white;
      font-size: 18px;
      &:visited {
        color: white;
      }
      &:hover {
        color: rgba(white, .5);
      }
    }
  }
}

.modal-content {
  h4 {
    color:$secondary;
  }
  border-radius:0;
}
.review-modal {
  .modal-body {
    position:relative;
    padding: 30px;
  }
  .modal-icon {
    text-align: center;
  }
  .modal-text {
    strong {
      color:$secondary;
    }
  }
  button.close {
    position: absolute;
    top:5px;
    right:5px;
    color:$secondary;
    @include opacity(1);

  }
}

.reviews-row {
  margin:7em 0 0;
  a {
    cursor:pointer;
    text-align: center;
    display: inline-block;
    width:100%;
    &:hover {
      .contain {
        box-shadow:0 0 20px rgba(black,.1);
      }
    }
    .contain {
      text-align: center;
      border:solid 1px #ebebeb;
      display: table;
      width:100%;
      height:217px;
      background: white;
      @include transition(.3s all);
      }
    .inner-contain {
      display:table-cell;
      vertical-align:middle;
    }
  }
}

/* BUTTON */

.btn, a:visited.btn, button {

  &:hover, &:focus {
  }
}

.working {
  h3 {
    font-size: 18px;
  }
  img {
    display: block;
    margin: 0 auto 10px;
  }
  
}

.home {
  .plan-cards {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 1em;
    position: relative;
    header {
      box-shadow: 0 0 10px rgba(black, .5);
      border-radius: 6px;
      h2 {
        max-width: 260px;
        margin: 0 auto;;
      }
    }
    @include viewport(sm) {
      margin-bottom: 0;
      padding-left: 0px;
      padding-right: 0px;
    }
    &:nth-child(1) {
      header {
        background-color: $proandgo;
      }
    }
    &:nth-child(2) {
      z-index: 2;
      header {
        background-color: $proplus;
        @include viewport(sm) {
          margin-left: -15px;
          margin-right: -15px;
          margin-top: -15px;

          h2 {
            font-size: 3.25rem;
          }
        }

      }
    }
    &:nth-child(3) {
      header {
        background-color: $proelite;
      }
    }
  }
}

/* Hero Styling */
.hero {
  position: relative;
  background-position: center;
}

.listing {
  .hero {
    padding: 0;
    .slides li {
      @include viewport(sm) {
        height: 450px;

      }
      height: 250px;
      background-size: cover;
      background-position: center;
    }
  }
}

.interior {
  .hero {
    @include viewport(sm) {
      height: 450px;

    }
    height: 250px;
    background-size: cover;
    background-position: center;
  }
}

.social-share {
  position: absolute;
  right: 0;
  z-index: 40;
  top: 30%;
  box-shadow: 0 0 10px rgba(black, .4);
  &:hover {
    a {
      border-color: white;
    }
  }

  .facebook {
    border-right: 0;
    border-bottom: solid 1px lighten($primary, 20);
  }
  a {
    @include viewport(sm) {
      font-size: 18px;

    }
    display: block;
    padding: 1em;
    background: white;
    font-size: 12px;
    color: $primary;
    &:hover {
      background: $secondary;
      color: white;
    }
  }
}

.contact {
  position: fixed;
  z-index: 1000;
  left: 5%;
  bottom: 0;
  @extend .button;
  margin: 0;
  box-shadow: 0 0 10px rgba(black, .4);
  bottom: 0;
  font-size: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &.hasScrolled {
    position: absolute;
    box-shadow: none;
  }

}

.marked {
  position: absolute;
  height: 5px;
  width: 5px;
  left: 0;
  visibility: hidden;
}

/* Listing Page */
.house-slider {
  position: relative;
}

.listing {
  .house-slider {
    .flex-viewport {
      padding-bottom: 9em;
    }
  }
  .flex-control-nav {
    @include viewport(sm) {
      bottom: 40px;

    }
    bottom: 10px;
    z-index: 1000;
    .flex-active {
      background: $secondary;
    }
  }
  h1 {
    color: #555555;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    @include viewport(sm) {
      font-size: 50px;
      &.address {
        font-size: 35px;
      }
    }
    span {
      color: lighten($primary, 20);
      font-size: 20px;
    }
  }

  .main-form {
    p {
      text-transform: uppercase;
    }
    textarea {
      min-height: 150px;
    }

  }
}

.house-meta {
  li {
    padding: 10px;
    font-size: 12px;
    &:nth-child(even) {
      background: #f7f7f7;
    }

    .col-xs-8 {
      text-align: right;
    }
    .col-xs-4 {
      text-transform: uppercase;
    }
  }
}

.price {
  font-style: italic;
  color: $proplus;
  @include viewport(sm) {
    font-size: 30px;
  }
  font-size: 20px;
  font-weight: 600;
  &.Sold {
    color:$secondary;
    font-weight:800;
  }
  &.pending {
    color:$secondary;
  }
  &.price-reduced {
    color: $green;
    &:after {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f078";
      margin-left: .5em;
      font-size: 80%;
    }
  }
}

.prev-next {
  margin: 3em -15px;
  .view-all {
    margin: 1em 0 0;
    display: inline-block;
    font-style: italic;
  }
  .col-xs-6 {
    span {
      display: block;
      color: $primary;
      font-size: 80%;
      font-style: italic;
    }
    &.next {
      text-align: right;
    }
  }
}

#gallery, #carousel {
  margin-bottom: 2em;
}

#carousel {
  margin-bottom: 3em;
}

.tour {

}

/* Google Map Styling */

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

/* Sellers Page */

.plans {
  margin: 2em 0;
  @include viewport(sm) {
    margin: 10em 0 2em;
  }
}

.partners {

  margin: 0;
  padding: 0;
  list-style: none;
  .row {

  }
  li {
    list-style: none;
  }
  > li {
    h3 {
      color: darken($primary, 20);
      font-weight: 600;
      font-size: 16px;
    }
    .logo {
      margin-bottom: 2em;
      @include viewport(sm) {
        margin-bottom: 0;
      }
    }
    margin-bottom: 2em;
    border-bottom: solid 1px #e9e9e9;
    padding-bottom: 2em;
    
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.team {
  article {
    border-bottom: solid 1px darken($light,20);
    padding-bottom: 3em;
    margin-bottom: 3em;
    &:last-child {
      border:0;
    }
    h3 {
      margin-bottom: 0;
    }
    span {
      font-size: 11px;
      display: inline-block;
      margin-bottom: 2em;
    }
  }
}

.partner, .team {
  .meta {
    margin: 0;
    padding: 0;
      li {
        list-style: none;
        color: $secondary;
        a {
          color: $primary;
          &:visited {
            color: $primary;
          }
        }
      }
      i {
        margin-right: 1em;
      }
    }
}

.reviews {
  .content {
    padding-bottom: 0;
  }
  .testimonials {
    margin: 0;
    li {
      display: none;
      margin-bottom: 2em;
      padding: 2em 0;
      width: 100%;
      p {
        font-size: 12px;
        color: lighten($primary, 20);
        &.lead-in {
          font-size: 14px;
          color: $primary;
        }
      }
      &:nth-child(even) {
        background: lighten($light, 05);

      }
    }
  }

}

#listingStatusMessage {
  h2.has-success {
    color: #636466;
  }
}
.listingsList {
  li {
    display: none;
  }
}


.filters {
  .ascDesc {
    @include viewport(sm){
      p {
        float:right;
      }
    }
  }
  p {
    font-size: 12px;
    span {
      cursor:pointer;
      @include transition(.3s all);
      &.active {
        color:$secondary;
      }
    }
  }
}


#carousel {
  li {
    cursor:pointer;
  }
  .flex-active-slide {
    @include opacity(.4);
  }
  .flex-direction-nav .flex-prev {
    left: -20px;
  }
  .flex-direction-nav .flex-next {
    right:-20px;
  }
  .flex-direction-nav a:before {
    font-size: 20px;
  }
}