body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  text-transform: uppercase;
  font-weight: 600;
  margin:0 0 16px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: #525252;
  @include viewport(sm){
    font-size: 45px;
  }
}

h2.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2em;
  span {
    font-size: 18px;
    font-weight: 100;
    text-transform: lowercase;
    color:$primary;
    display: block;
  }
}

hr {
  border-color:$neutral;
}
h4 {
  color:$primary;
}

.pagetitle {
  margin-bottom: 2em;
  color:$secondary;
  span {
    font-size: 80%;
    font-weight: 100;
  }
}


/* PARAGRAPH */

p {
  
  line-height: 1.6;
  margin-bottom: 1em;
}

li,p,a {
  font-family: $body;
  font-size: 14px;
  color:$primary;
}
.main-content {
  ul {
    padding-left: 30px;
    margin:1em;
    list-style-type: disc;
    li {
      list-style-type: disc;
    }
  }
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none !important;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$secondary;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}