// COLOR PALETTE
$primary: #636466;
$secondary: #da2a32;
$hover: #505050;
$light:#f7f7f7;
$neutral: darken($light,30);
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$green: #13a037;

// FONT STACKS
$heading: 'Open Sans', sans-serif;
$body: 'Open Sans', sans-serif;

// breakpoints
   
$S:     480px;   
$M:     768px;     
$L:     1024px;     


// Pricing Table

// colors
$proandgo: #6DCFF6;
$proplus: #0457A1;
$proelite: #DF2029;

$color-1: #0f222b; // Firefly
$color-2: #95ac5f; // Chelsea Cucumber
$color-3: #ffffff; // White
$color-4: #df4f71; // Cranberry

// fonts 

$primary-font: 'Open Sans', sans-serif;


// animation

$animation-duration: .8s;
$animation-delay: .2s;


// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

